<p id="notice"><%= notice %></p>
<div class='row'>
  <div class='col-md-offset-2 col-md-8'>
    <div class='panel panel-default'>
      <div class='panel-heading center'><%= image_tag @pin.image.url(:medium) %></div>
        <div class="panel-body">
          <p>
            <br/>
            <!--<strong>Description:</strong>-->
            <%= @pin.description %><br/><br/>
            <strong><%= @pin.user.name %></strong>
          </p>
          <% if @pin.user = current_user %>
            <%= link_to 'Edit', edit_pin_path(@pin) %> |
          <% end %>
          <%= link_to 'Back', pins_path %>
        </div>
    </div>
  </div>
</div>
