<div class="jumbotron center">
    <h1>Welcome To My Pinterested App</h1>
    <p>Pretty cool, don't you think?</p>
    <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
        <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-default' %>
        <%= link_to "List Pins", pins_path, class: 'btn btn-default' %>
    <% else %>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-default' %>
        <%= link_to 'Join Us', new_user_registration_path, class: 'btn btn-primary' %>
    <% end %>
    
</div>